<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>homepage</servlet-name>
        <servlet-class>controller.homepage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>blog</servlet-name>
        <servlet-class>controller.blog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>contact</servlet-name>
        <servlet-class>controller.contact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>controller.login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>room</servlet-name>
        <servlet-class>controller.room</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>service</servlet-name>
        <servlet-class>controller.service</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signup</servlet-name>
        <servlet-class>controller.signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>controller.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>profile</servlet-name>
        <servlet-class>controller.profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>roomsearch</servlet-name>
        <servlet-class>controller.roomsearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>discount</servlet-name>
        <servlet-class>controller.discount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>customermanage</servlet-name>
        <servlet-class>controller.customermanage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servicemanager</servlet-name>
        <servlet-class>controller.servicemanager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteservice</servlet-name>
        <servlet-class>controller.deleteservice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addservice</servlet-name>
        <servlet-class>controller.addservice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateservice</servlet-name>
        <servlet-class>controller.updateservice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>roommanager</servlet-name>
        <servlet-class>controller.roommanager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addroom</servlet-name>
        <servlet-class>controller.addroom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteroom</servlet-name>
        <servlet-class>controller.deleteroom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateroom</servlet-name>
        <servlet-class>controller.updateroom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>toggleroom</servlet-name>
        <servlet-class>controller.toggleroom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>toggleservice</servlet-name>
        <servlet-class>controller.toggleservice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>selectroom</servlet-name>
        <servlet-class>controller.selectroom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>infoinput</servlet-name>
        <servlet-class>controller.infoinput</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>roommate</servlet-name>
        <servlet-class>controller.roommate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>book</servlet-name>
        <servlet-class>controller.book</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>priceconfig</servlet-name>
        <servlet-class>controller.priceconfig</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>confirmbooking</servlet-name>
        <servlet-class>controller.confirmbooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bookinghistory</servlet-name>
        <servlet-class>controller.bookinghistory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewbooking</servlet-name>
        <servlet-class>controller.viewbooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cancelbooking</servlet-name>
        <servlet-class>controller.cancelbooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>managebooking</servlet-name>
        <servlet-class>controller.managebooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>proceedbooking</servlet-name>
        <servlet-class>controller.proceedbooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>detailbooking</servlet-name>
        <servlet-class>controller.detailbooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeroom</servlet-name>
        <servlet-class>controller.changeroom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin</servlet-name>
        <servlet-class>controller.admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reportincome</servlet-name>
        <servlet-class>controller.reportincome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>toggleaccountstatus</servlet-name>
        <servlet-class>controller.toggleaccountstatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>managediscount</servlet-name>
        <servlet-class>controller.managediscount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>togglediscountstatus</servlet-name>
        <servlet-class>controller.togglediscountstatus</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>homepage</servlet-name>
        <url-pattern>/homepage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>blog</servlet-name>
        <url-pattern>/blog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>contact</servlet-name>
        <url-pattern>/contact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>room</servlet-name>
        <url-pattern>/room</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>service</servlet-name>
        <url-pattern>/service</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signup</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>profile</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>roomsearch</servlet-name>
        <url-pattern>/roomsearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>discount</servlet-name>
        <url-pattern>/discount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>customermanage</servlet-name>
        <url-pattern>/customermanage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servicemanager</servlet-name>
        <url-pattern>/servicemanager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteservice</servlet-name>
        <url-pattern>/deleteservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addservice</servlet-name>
        <url-pattern>/addservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateservice</servlet-name>
        <url-pattern>/updateservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>roommanager</servlet-name>
        <url-pattern>/roommanager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addroom</servlet-name>
        <url-pattern>/addroom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteroom</servlet-name>
        <url-pattern>/deleteroom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateroom</servlet-name>
        <url-pattern>/updateroom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>toggleroom</servlet-name>
        <url-pattern>/toggleroom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>toggleservice</servlet-name>
        <url-pattern>/toggleservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>selectroom</servlet-name>
        <url-pattern>/selectroom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>infoinput</servlet-name>
        <url-pattern>/infoinput</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>roommate</servlet-name>
        <url-pattern>/roommate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>book</servlet-name>
        <url-pattern>/book</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>priceconfig</servlet-name>
        <url-pattern>/priceconfig</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>confirmbooking</servlet-name>
        <url-pattern>/confirmbooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bookinghistory</servlet-name>
        <url-pattern>/bookinghistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewbooking</servlet-name>
        <url-pattern>/viewbooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cancelbooking</servlet-name>
        <url-pattern>/cancelbooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>managebooking</servlet-name>
        <url-pattern>/managebooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>proceedbooking</servlet-name>
        <url-pattern>/proceedbooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>detailbooking</servlet-name>
        <url-pattern>/detailbooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeroom</servlet-name>
        <url-pattern>/changeroom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reportincome</servlet-name>
        <url-pattern>/reportincome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>toggleaccountstatus</servlet-name>
        <url-pattern>/toggleaccountstatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>managediscount</servlet-name>
        <url-pattern>/managediscount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>togglediscountstatus</servlet-name>
        <url-pattern>/togglediscountstatus</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
