body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #E0F7FA;
}

.card {
    border: none;
    border-radius: 10px;
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #343a40;
}

.table thead {
    background-color: #343a40;
    color: #ffffff;
}

.table-bordered td, .table-bordered th {
    border: 1px solid #dee2e6;
}

.table tbody tr:hover {
    background-color: #f1f1f1;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.text-muted {
    color: #6c757d !important;
}

.row .col-6 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.text-left {
    position: absolute;
    bottom: 20px;
    left: 20px;
}
